<div class="card mb-3">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <h1>Stand Of Groly</h1>    
        </ng-template>
        <ng-template pTemplate="end">
            <div *ngIf="!accountService.isAuthorized()">
                <p-button  styleClass="p-button-info p-button-text"  routerLink="/register">
                    Register
                    <span class="pi pi-user-plus"></span> 
                </p-button>
                <p-button  styleClass="p-button-success p-button-text"  routerLink="/login">
                    Login
                    <span class="pi pi-user"></span>
                </p-button>
            </div>
            <div *ngIf="accountService.isAuthorized()">
                <p-button styleClass="p-button-secondary p-button-text"  (click)="logout()">
                    Logout
                    <span class="pi pi-user"></span>
                </p-button>               
            </div>
        </ng-template>
    </p-menubar>
</div>