img {
    max-height: 300px; 
    min-height: 300px; 
    object-fit: cover; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}

button {
    width: 100%; 
    justify-content: center;
}